name: CI Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_U }}
        password: ${{ secrets.DOCKER_T }}

    - name: Build and Push Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_U }}/sample-app:${{ github.sha }} .
        docker push ${{ secrets.DOCKER_U }}/sample-app:${{ github.sha }}
